body {
    min-height: 100vh;
    margin:0;
    padding:0;
    text-align:center;
    font-family: Helvetica, Helvetica Neue, Arial, sans-sarif;
    background: linear-gradient(180deg, hsl(195, 98%, 62%), hsl(139, 100%, 55%));
}
#button2 {
    background-color: hsl(235, 100%, 50%);
    padding: 10px;
    border:none;
    color:white;
    font-size:20px;
    border-radius:15px;
    cursor: pointer;
    margin: 10px;
}
#strummingImages {
    margin:20px;
    display: flex;
    flex-direction:row;
    justify-content:center;
    background-color:transparent;
}
#strummingImages img{
    border-radius:4px;
    border-width:2.5px;
    border-color:black;
    border-style:solid;
}
#button2:hover {
    background-color:hsl(235, 100%, 42%);
}
footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}
p {
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 20px;
}
ul {
list-style-position: inside;
padding-left: 0;
margin-left: 0;

}
li {
display: flex;
justify-content:center;
align-items: center;
gap: 10px;
padding-left: 0;
font-size:20px;
font-weight:bold;
padding-bottom:0px;
}
label {
font-size:30px;
font-weight:bold;
}
input {
width:20px;
height:20px;
} 
ul #img, #img1, #img2 {
    height:50px;
    width:10px;
    }
select {
    height:30px;
    text-align:center;
    border-radius:10px;
    border:none;
    font-size:15px;
    font-weight:bold;
}
option {
    font-size:15px;
    font-weight:bold;
    color:black;
    background-color:white;
}
h3 {
    padding-left: 10px;
    padding-right:10px;
}
#block {
  background-color: #40e0d0;
  position: absolute;
  height: 100vh;
  width: 40vw;
  left: -40vw;
  z-index: 1000000;
  padding: 0;
}
#block .regA{
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: clamp(16px, 2vw, 24px);
  padding: 10px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}
#block div{
	transition: all 0.3s ease-in-out;
}
#block div:hover{
	background-color: white;
	opacity: 0.8;
	transition: all 0.3s ease-in-out;
}
#block ul{
	margin: 0;
	padding:0;
}
#block img {
  margin-top: 20px;
  max-width: 70%;
  height: auto;
}
#button{
  position: absolute;
  right: 0;
  margin-top:5%;
  margin-right: 5%;
  border:none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
}
